$bf_green: #668134;
$bf_dark: #151515;

$breakpoint-small-width: max-width 400px;
$breakpoint-med-small-width: 400px 650px;
$breakpoint-medmax-width: max-width 600px;
$breakpoint-medium-width: max-width 800px;
$breakpoint-large-width: max-width 1111px;
$breakpoint-full-width: max-width 1200px;
